nav {
  background:#000;
  height:2em;
  line-height:2em;
  width: 100%;

  ul {
    display:flex;
    flex-direction:row;
    justify-content: space-around;

    li {
      padding:0 1em;
      position:relative;
      min-width: 100px;
      color: #ccc;
    }

    li:hover {
      background:#ccc;
      color: black;

      a {
        color: #000;
      }
    }
  }

  a {
    text-decoration:none;
    color:#fff;

    &:after {
      bottom:0;
      content:"";
      left:0;
      position:absolute;
      right:0;
      top:0;
    }
  }
}
